.viraj-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.rahul-form {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.arjun-group,
.siddharth-group,
.aniket-group,
.rohit-group,
.neeraj-group,
.saurabh-group {
  margin-bottom: 15px;
  margin-right: 25px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #218838;
}

.error {
  color: red;
  font-size: 14px;
  display: block;
}
