.header-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  font-weight: 500;
  color: rgb(73, 58, 58);
  z-index: 2;
}

.pp {
  height: 3rem;
  width: 5.5rem;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.right-side p,
.left-side p {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
}
